<html>
<head>
	<meta charset="UTF-8">
    <title>Chat Room</title>
	<link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div id="main-box">
	<div id="header"> 
		<p style="margin: 0;">Welcome {{username}}</p>
		<div id="logout-button">
			<img src="../static/exit-icon.png" alt="exit">
			<a href="/logout/{{username}}">Logout</a>
		</div>
	</div>
	<div id = "left-bar">
		<div class="sidebar-element"></div>
	</div>
	<div id="right-bar">
		<div id="message-box">
			<ul id="messages"></ul>
		</div>
		<div id="type-box">
			<input type="text" id="myMessage">
			<button id="sendbutton">Send</button>
		</div>
	</div>
</div>





<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>



<script>
    $(document).ready(function() {
	var socket = io.connect('http://127.0.0.1:5000');
    var currentUserName = "{{username}}";

	socket.on('connect', function() {
			const meInfo = {"Type": "Connect", "Id": socket.id, "Username": currentUserName}
		    socket.send(JSON.stringify(meInfo));
	});

	socket.on('message', function(msg) {
	    var temp;
	    msg = JSON.parse(msg);
	    if (msg.Type == "Connect") {
	        temp = msg.Time.concat(" ", msg.Username, ": ", msg.Content);
	        $("#messages").append('<li>'+temp+'</li>');
	    } else if (msg.Type == "Send") {
	        temp = msg.Time.concat(" ", msg.From, ": ", msg.Content);
	        $("#messages").append('<li>'+temp+'</li>');
	    } else if (msg.Type == "history") {
	        console.log("Receive history");
	        msg.Content.forEach(element => $("#messages").append('<li>'+element+'</li>'));
	    }

		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
        console.log('Send message');
		msg = $('#myMessage').val();
		$("#messages").append('<li>'+msg+'</li>');
	    const meInfo = {"Type": "Send", "From": currentUserName, "To": "general", "Content": msg};
		socket.send(JSON.stringify(meInfo));
		$('#myMessage').val('');
	});
	});
	// testing logging out by closing the tab
	window.addEventListener("beforeunload", function(e){
		$.ajax({
			url: "/logout/{{username}}",
			type: "GET"
		})
        return;
	});
</script>
<script type="text/javascript" src="../static/displayMessage.js"></script>

</body>


</html>
