<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "blog" placeholder="your post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>Post</th>

{% for line in posts %}
	<tr>
		<td>{{line[0]}}</td>
		<td>{{line[1]}}</td>
		
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
